body {
    font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 900;
    color: #151515;
}

.offer-cont {
    padding-top: 127px;
}

.btn {
    display: inline;
    background: #3726F2;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 13px 26px;
    border-radius: 0;
    letter-spacing: 0.4em;
}

.btn:hover {
    background-color: #170169;
    color: aliceblue;
}

.nav {
    padding-top: 59px;
}

button.menu {
    display: block;
    margin-left: auto;
    background: transparent;
    border: none;
}

.offer-cont_title {
    font-size: 60px;
    letter-spacing: 0.04em;
}

.offer-cont_text {
    font-size: 18px;
}
