body {
    font-family: 'Fira Sans', sans-serif;
}

.nav {
    padding-top: 59px;
}
button.menu {
    display: block;
    margin-left: auto;
    background: transparent;
    border: none;
}

.offer {
    padding-top: 127px;
}