{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Главная</title>
</head>

<body>

    <div class="wrap">Они шли, чтобы покорить нас, чтобы пытать нас и сжигать живьем на кострах,
    они шли, чтобы сделать с нами, вольными англичанами, то же самое, что
        Кортес сделал с индейцами Анауака.</div>





    {% block content %}
    {% endblock %}


</body>

</html>